Source code/Demo - Test - Example/WebTestSign/WebTestSign/Web References/A0SignatureService/CAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUnitInCASystem_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnitTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="maDV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUnitInCASystem_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUnitInCASystem_NowResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateFromProgUser_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateFromProgUser_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateFromProgUser_NowResult" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateCertificateInCA_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInCA_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCertificateInCA_NowResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="certificateStatus" type="tns:CertificateStatus_CA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CertificateStatus_CA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusInformation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateCertificateInCA_Date">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="validateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInCA_DateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCertificateInCA_DateResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="certificateStatus" type="tns:CertificateStatus_CA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInTTD_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInTTD_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCertificateInTTD_NowResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="certificateStatus" type="tns:CertificateStatus_TTD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CertificateStatus_TTD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusInformation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAndGetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileMaDV" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAndGetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAndGetFileInfoResult" type="tns:FileInfoCA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileInfoCA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FileID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaDV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileInfoResult" type="tns:FileInfoCA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileStatusForSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileStatusForSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileStatusForSignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileStatus_WithHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileHash" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileStatus_WithHashResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetFileStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="LogFileStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogFileStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogFileStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogFileSignature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="signTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="verify" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="signCreator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSignActions" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogFileSignatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogFileSignatureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignFileByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignFileByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignFileByIDResult" type="tns:CAExitCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CAExitCode">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Success" />
          <s:enumeration value="Error" />
          <s:enumeration value="UnrecognizedCommand" />
          <s:enumeration value="BadArgument" />
          <s:enumeration value="WS_FileNotFound" />
          <s:enumeration value="WS_FileNotSaved" />
          <s:enumeration value="WS_CertificateNotFoundOrInvalid" />
          <s:enumeration value="WS_CertificateMoreThanOne" />
          <s:enumeration value="WS_PrivateKeyNotFound" />
          <s:enumeration value="WS_PrivateKeyMoreThanOne" />
          <s:enumeration value="WS_FileInSign" />
          <s:enumeration value="WS_FileReplaced" />
          <s:enumeration value="WS_CertificateInvalidInCA" />
          <s:enumeration value="WS_SaveFileTimeOut" />
          <s:enumeration value="WS_Timeout" />
          <s:enumeration value="WS_BadFormatOuputConsole" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SignFilesByID_Array">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileIDs" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignFilesByID_ArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignFilesByID_ArrayResult" type="tns:CAExitCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignFilesByID_String">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignFilesByID_StringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignFilesByID_StringResult" type="tns:CAExitCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Return_x0020_string_x0020_array_x0020_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Return_x0020_string_x0020_array_x0020_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Return_x0020_string_x0020_array_x0020_Result" type="tns:CAExitCode" />
            <s:element minOccurs="0" maxOccurs="1" name="lstResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Return_x0020_class_x0020_SignFileResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstResult" type="tns:ArrayOfSignFileResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSignFileResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SignFileResult" nillable="true" type="tns:SignFileResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SignFileResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FileID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Return_x0020_class_x0020_SignFileResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Return_x0020_class_x0020_SignFileResultResult" type="tns:CAExitCode" />
            <s:element minOccurs="0" maxOccurs="1" name="lstResult" type="tns:ArrayOfSignFileResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Return_x0020_DataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Return_x0020_DataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Return_x0020_DataTableResult" type="tns:CAExitCode" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForAllowSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForAllowSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_File_SelectForAllowSignResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtFileInfo">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForAllowSign_Array">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForAllowSign_ArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_File_SelectForAllowSign_ArrayResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtFileInfo">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForSaveSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_StatusLog" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForSaveSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_File_SelectForSaveSignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_UpdateForLogSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="certSerial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="signTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="verify" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="signCreator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSignActions" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_UpdateForLogSignResponse">
        <s:complexType />
      </s:element>
      <s:element name="SignFileByLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourcePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="progID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userProg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignFileByLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignFileByLinkResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCerticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCerticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCerticateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginHSM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginHSMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckLoginHSMResult" type="tns:CAExitCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFL_File_SelectFileID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TuNgay" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DenNgay" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Ma_NM" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UnitTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFL_File_SelectFileIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFL_File_SelectFileIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_FileRelation_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FileID_1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FileID_2" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FileRelationTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserModified" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_FileRelation_InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_FileRelation_InsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUnitInCASystem_NowSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUnitInCASystem_Now" />
  </wsdl:message>
  <wsdl:message name="CheckUnitInCASystem_NowSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUnitInCASystem_NowResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateFromProgUser_NowSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificateFromProgUser_Now" />
  </wsdl:message>
  <wsdl:message name="GetCertificateFromProgUser_NowSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateFromProgUser_NowResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_NowSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_Now" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_NowSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_NowResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_DateSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_Date" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_DateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_DateResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInTTD_NowSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInTTD_Now" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInTTD_NowSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInTTD_NowResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAndGetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAndGetFileInfo" />
  </wsdl:message>
  <wsdl:message name="CreateAndGetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAndGetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileStatusForSignSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileStatusForSign" />
  </wsdl:message>
  <wsdl:message name="GetFileStatusForSignSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileStatusForSignResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileStatus_WithHashSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileStatus_WithHash" />
  </wsdl:message>
  <wsdl:message name="SetFileStatus_WithHashSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileStatus_WithHashResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileStatus" />
  </wsdl:message>
  <wsdl:message name="SetFileStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileStatusResponse" />
  </wsdl:message>
  <wsdl:message name="LogFileStatusSoapIn">
    <wsdl:part name="parameters" element="tns:LogFileStatus" />
  </wsdl:message>
  <wsdl:message name="LogFileStatusSoapOut">
    <wsdl:part name="parameters" element="tns:LogFileStatusResponse" />
  </wsdl:message>
  <wsdl:message name="LogFileSignatureSoapIn">
    <wsdl:part name="parameters" element="tns:LogFileSignature" />
  </wsdl:message>
  <wsdl:message name="LogFileSignatureSoapOut">
    <wsdl:part name="parameters" element="tns:LogFileSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="SignFileByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SignFileByID" />
  </wsdl:message>
  <wsdl:message name="SignFileByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SignFileByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SignFilesByID_ArraySoapIn">
    <wsdl:part name="parameters" element="tns:SignFilesByID_Array" />
  </wsdl:message>
  <wsdl:message name="SignFilesByID_ArraySoapOut">
    <wsdl:part name="parameters" element="tns:SignFilesByID_ArrayResponse" />
  </wsdl:message>
  <wsdl:message name="SignFilesByID_StringSoapIn">
    <wsdl:part name="parameters" element="tns:SignFilesByID_String" />
  </wsdl:message>
  <wsdl:message name="SignFilesByID_StringSoapOut">
    <wsdl:part name="parameters" element="tns:SignFilesByID_StringResponse" />
  </wsdl:message>
  <wsdl:message name="Return_x0020_string_x0020_array_x0020_SoapIn">
    <wsdl:part name="parameters" element="tns:Return_x0020_string_x0020_array_x0020_" />
  </wsdl:message>
  <wsdl:message name="Return_x0020_string_x0020_array_x0020_SoapOut">
    <wsdl:part name="parameters" element="tns:Return_x0020_string_x0020_array_x0020_Response" />
  </wsdl:message>
  <wsdl:message name="Return_x0020_class_x0020_SignFileResultSoapIn">
    <wsdl:part name="parameters" element="tns:Return_x0020_class_x0020_SignFileResult" />
  </wsdl:message>
  <wsdl:message name="Return_x0020_class_x0020_SignFileResultSoapOut">
    <wsdl:part name="parameters" element="tns:Return_x0020_class_x0020_SignFileResultResponse" />
  </wsdl:message>
  <wsdl:message name="Return_x0020_DataTableSoapIn">
    <wsdl:part name="parameters" element="tns:Return_x0020_DataTable" />
  </wsdl:message>
  <wsdl:message name="Return_x0020_DataTableSoapOut">
    <wsdl:part name="parameters" element="tns:Return_x0020_DataTableResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForAllowSignSoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForAllowSign" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForAllowSignSoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForAllowSignResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForAllowSign_ArraySoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForAllowSign_Array" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForAllowSign_ArraySoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForAllowSign_ArrayResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForSaveSignSoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForSaveSign" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForSaveSignSoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForSaveSignResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_UpdateForLogSignSoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_UpdateForLogSign" />
  </wsdl:message>
  <wsdl:message name="FL_File_UpdateForLogSignSoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_UpdateForLogSignResponse" />
  </wsdl:message>
  <wsdl:message name="SignFileByLinkSoapIn">
    <wsdl:part name="parameters" element="tns:SignFileByLink" />
  </wsdl:message>
  <wsdl:message name="SignFileByLinkSoapOut">
    <wsdl:part name="parameters" element="tns:SignFileByLinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCerticateSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCerticate" />
  </wsdl:message>
  <wsdl:message name="GetUserCerticateSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCerticateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHSMSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLoginHSM" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHSMSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginHSMResponse" />
  </wsdl:message>
  <wsdl:message name="GetFL_File_SelectFileIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFL_File_SelectFileID" />
  </wsdl:message>
  <wsdl:message name="GetFL_File_SelectFileIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFL_File_SelectFileIDResponse" />
  </wsdl:message>
  <wsdl:message name="FL_FileRelation_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:FL_FileRelation_Insert" />
  </wsdl:message>
  <wsdl:message name="FL_FileRelation_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:FL_FileRelation_InsertResponse" />
  </wsdl:message>
  <wsdl:portType name="CAServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUnitInCASystem_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Kiểm tra xem có cần check CA với đơn vị hay không.</wsdl:documentation>
      <wsdl:input message="tns:CheckUnitInCASystem_NowSoapIn" />
      <wsdl:output message="tns:CheckUnitInCASystem_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFromProgUser_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy danh sách chứng thư hợp lệ của người dùng trong hệ thống. Trả về mảng RawData của các chứng thư.</wsdl:documentation>
      <wsdl:input message="tns:GetCertificateFromProgUser_NowSoapIn" />
      <wsdl:output message="tns:GetCertificateFromProgUser_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xác thực chứng thư với nhà cung cấp CA ở thời điểm hiện tại. Trả về CertificateStatus để convert thành X509ChainStatus</wsdl:documentation>
      <wsdl:input message="tns:ValidateCertificateInCA_NowSoapIn" />
      <wsdl:output message="tns:ValidateCertificateInCA_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Date">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xác thực chứng thư với nhà cung cấp CA ở thời điểm quá khứ. Trả về CertificateStatus để convert thành X509ChainStatus.</wsdl:documentation>
      <wsdl:input message="tns:ValidateCertificateInCA_DateSoapIn" />
      <wsdl:output message="tns:ValidateCertificateInCA_DateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInTTD_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xác thực chứng thư với Thị trường điện ở thời điểm hiện tại</wsdl:documentation>
      <wsdl:input message="tns:ValidateCertificateInTTD_NowSoapIn" />
      <wsdl:output message="tns:ValidateCertificateInTTD_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAndGetFileInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Khởi tạo văn bản cùng với đánh số văn bản và tạo đường dẫn văn bản. Ghi log thay đổi trạng thái.</wsdl:documentation>
      <wsdl:input message="tns:CreateAndGetFileInfoSoapIn" />
      <wsdl:output message="tns:CreateAndGetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy thông tin file theo FileID</wsdl:documentation>
      <wsdl:input message="tns:GetFileInfoSoapIn" />
      <wsdl:output message="tns:GetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileStatusForSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy trạng thái hiện tại của file và kiểm tra có OK để ký hay không</wsdl:documentation>
      <wsdl:input message="tns:GetFileStatusForSignSoapIn" />
      <wsdl:output message="tns:GetFileStatusForSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus_WithHash">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Thiết lập trạng thái với chuỗi HASH sau khi lưu file và ghi log thay đổi trạng thái.</wsdl:documentation>
      <wsdl:input message="tns:SetFileStatus_WithHashSoapIn" />
      <wsdl:output message="tns:SetFileStatus_WithHashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Thiết lập trạng thái cho file và ghi log thay đổi trạng thái.</wsdl:documentation>
      <wsdl:input message="tns:SetFileStatusSoapIn" />
      <wsdl:output message="tns:SetFileStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogFileStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ghi log thay đổi trạng thái file.</wsdl:documentation>
      <wsdl:input message="tns:LogFileStatusSoapIn" />
      <wsdl:output message="tns:LogFileStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogFileSignature">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ghi log ký/xóa chữ ký trên file.</wsdl:documentation>
      <wsdl:input message="tns:LogFileSignatureSoapIn" />
      <wsdl:output message="tns:LogFileSignatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFileByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký file trong hệ thống quản lý file. Ghi log ký file</wsdl:documentation>
      <wsdl:input message="tns:SignFileByIDSoapIn" />
      <wsdl:output message="tns:SignFileByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_Array">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file. Ghi log ký file</wsdl:documentation>
      <wsdl:input message="tns:SignFilesByID_ArraySoapIn" />
      <wsdl:output message="tns:SignFilesByID_ArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_String">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file. Ghi log ký file</wsdl:documentation>
      <wsdl:input message="tns:SignFilesByID_StringSoapIn" />
      <wsdl:output message="tns:SignFilesByID_StringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file. Ghi log ký file. Trả về chuỗi kết quả từng file</wsdl:documentation>
      <wsdl:input name="Return_x0020_string_x0020_array_x0020_" message="tns:Return_x0020_string_x0020_array_x0020_SoapIn" />
      <wsdl:output name="Return_x0020_string_x0020_array_x0020_" message="tns:Return_x0020_string_x0020_array_x0020_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file. Ghi log ký file. Trả về chuỗi kết quả từng file</wsdl:documentation>
      <wsdl:input name="Return_x0020_class_x0020_SignFileResult" message="tns:Return_x0020_class_x0020_SignFileResultSoapIn" />
      <wsdl:output name="Return_x0020_class_x0020_SignFileResult" message="tns:Return_x0020_class_x0020_SignFileResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail3">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file. Ghi log ký file. Trả về chuỗi kết quả từng file</wsdl:documentation>
      <wsdl:input name="Return_x0020_DataTable" message="tns:Return_x0020_DataTableSoapIn" />
      <wsdl:output name="Return_x0020_DataTable" message="tns:Return_x0020_DataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 1: Kiểm tra trạng thái file có cho phép ký hay không và ghi log. Trả về thông tin file và ID_Log phiên ký.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_SelectForAllowSignSoapIn" />
      <wsdl:output message="tns:FL_File_SelectForAllowSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign_Array">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 1: Kiểm tra trạng thái nhiều file có cho phép ký hay không và ghi log. Trả về thông tin file và ID_Log phiên ký.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_SelectForAllowSign_ArraySoapIn" />
      <wsdl:output message="tns:FL_File_SelectForAllowSign_ArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForSaveSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 2: Xét phiên log file xem có cho phép lưu file hay không.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_SelectForSaveSignSoapIn" />
      <wsdl:output message="tns:FL_File_SelectForSaveSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_UpdateForLogSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 3: Cập nhật log ký/xóa chữ ký và thiết lập trạng thái về LuuFile.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_UpdateForLogSignSoapIn" />
      <wsdl:output message="tns:FL_File_UpdateForLogSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFileByLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký file ở server thông qua file path.</wsdl:documentation>
      <wsdl:input message="tns:SignFileByLinkSoapIn" />
      <wsdl:output message="tns:SignFileByLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCerticate">
      <wsdl:input message="tns:GetUserCerticateSoapIn" />
      <wsdl:output message="tns:GetUserCerticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoginHSM">
      <wsdl:input message="tns:CheckLoginHSMSoapIn" />
      <wsdl:output message="tns:CheckLoginHSMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFL_File_SelectFileID">
      <wsdl:input message="tns:GetFL_File_SelectFileIDSoapIn" />
      <wsdl:output message="tns:GetFL_File_SelectFileIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_FileRelation_Insert">
      <wsdl:input message="tns:FL_FileRelation_InsertSoapIn" />
      <wsdl:output message="tns:FL_FileRelation_InsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CAServiceSoap" type="tns:CAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUnitInCASystem_Now">
      <soap:operation soapAction="http://tempuri.org/CheckUnitInCASystem_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFromProgUser_Now">
      <soap:operation soapAction="http://tempuri.org/GetCertificateFromProgUser_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Now">
      <soap:operation soapAction="http://tempuri.org/ValidateCertificateInCA_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Date">
      <soap:operation soapAction="http://tempuri.org/ValidateCertificateInCA_Date" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInTTD_Now">
      <soap:operation soapAction="http://tempuri.org/ValidateCertificateInTTD_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAndGetFileInfo">
      <soap:operation soapAction="http://tempuri.org/CreateAndGetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://tempuri.org/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileStatusForSign">
      <soap:operation soapAction="http://tempuri.org/GetFileStatusForSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus_WithHash">
      <soap:operation soapAction="http://tempuri.org/SetFileStatus_WithHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus">
      <soap:operation soapAction="http://tempuri.org/SetFileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFileStatus">
      <soap:operation soapAction="http://tempuri.org/LogFileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFileSignature">
      <soap:operation soapAction="http://tempuri.org/LogFileSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFileByID">
      <soap:operation soapAction="http://tempuri.org/SignFileByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_Array">
      <soap:operation soapAction="http://tempuri.org/SignFilesByID_Array" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_String">
      <soap:operation soapAction="http://tempuri.org/SignFilesByID_String" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail1">
      <soap:operation soapAction="http://tempuri.org/Return string array " style="document" />
      <wsdl:input name="Return_x0020_string_x0020_array_x0020_">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Return_x0020_string_x0020_array_x0020_">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail2">
      <soap:operation soapAction="http://tempuri.org/Return class SignFileResult" style="document" />
      <wsdl:input name="Return_x0020_class_x0020_SignFileResult">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Return_x0020_class_x0020_SignFileResult">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail3">
      <soap:operation soapAction="http://tempuri.org/Return DataTable" style="document" />
      <wsdl:input name="Return_x0020_DataTable">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Return_x0020_DataTable">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign">
      <soap:operation soapAction="http://tempuri.org/FL_File_SelectForAllowSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign_Array">
      <soap:operation soapAction="http://tempuri.org/FL_File_SelectForAllowSign_Array" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForSaveSign">
      <soap:operation soapAction="http://tempuri.org/FL_File_SelectForSaveSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_UpdateForLogSign">
      <soap:operation soapAction="http://tempuri.org/FL_File_UpdateForLogSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFileByLink">
      <soap:operation soapAction="http://tempuri.org/SignFileByLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCerticate">
      <soap:operation soapAction="http://tempuri.org/GetUserCerticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginHSM">
      <soap:operation soapAction="http://tempuri.org/CheckLoginHSM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFL_File_SelectFileID">
      <soap:operation soapAction="http://tempuri.org/GetFL_File_SelectFileID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_FileRelation_Insert">
      <soap:operation soapAction="http://tempuri.org/FL_FileRelation_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CAServiceSoap12" type="tns:CAServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUnitInCASystem_Now">
      <soap12:operation soapAction="http://tempuri.org/CheckUnitInCASystem_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFromProgUser_Now">
      <soap12:operation soapAction="http://tempuri.org/GetCertificateFromProgUser_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Now">
      <soap12:operation soapAction="http://tempuri.org/ValidateCertificateInCA_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Date">
      <soap12:operation soapAction="http://tempuri.org/ValidateCertificateInCA_Date" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInTTD_Now">
      <soap12:operation soapAction="http://tempuri.org/ValidateCertificateInTTD_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAndGetFileInfo">
      <soap12:operation soapAction="http://tempuri.org/CreateAndGetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap12:operation soapAction="http://tempuri.org/GetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileStatusForSign">
      <soap12:operation soapAction="http://tempuri.org/GetFileStatusForSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus_WithHash">
      <soap12:operation soapAction="http://tempuri.org/SetFileStatus_WithHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus">
      <soap12:operation soapAction="http://tempuri.org/SetFileStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFileStatus">
      <soap12:operation soapAction="http://tempuri.org/LogFileStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFileSignature">
      <soap12:operation soapAction="http://tempuri.org/LogFileSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFileByID">
      <soap12:operation soapAction="http://tempuri.org/SignFileByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_Array">
      <soap12:operation soapAction="http://tempuri.org/SignFilesByID_Array" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_String">
      <soap12:operation soapAction="http://tempuri.org/SignFilesByID_String" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail1">
      <soap12:operation soapAction="http://tempuri.org/Return string array " style="document" />
      <wsdl:input name="Return_x0020_string_x0020_array_x0020_">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Return_x0020_string_x0020_array_x0020_">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail2">
      <soap12:operation soapAction="http://tempuri.org/Return class SignFileResult" style="document" />
      <wsdl:input name="Return_x0020_class_x0020_SignFileResult">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Return_x0020_class_x0020_SignFileResult">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetail3">
      <soap12:operation soapAction="http://tempuri.org/Return DataTable" style="document" />
      <wsdl:input name="Return_x0020_DataTable">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Return_x0020_DataTable">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign">
      <soap12:operation soapAction="http://tempuri.org/FL_File_SelectForAllowSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign_Array">
      <soap12:operation soapAction="http://tempuri.org/FL_File_SelectForAllowSign_Array" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForSaveSign">
      <soap12:operation soapAction="http://tempuri.org/FL_File_SelectForSaveSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_UpdateForLogSign">
      <soap12:operation soapAction="http://tempuri.org/FL_File_UpdateForLogSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFileByLink">
      <soap12:operation soapAction="http://tempuri.org/SignFileByLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCerticate">
      <soap12:operation soapAction="http://tempuri.org/GetUserCerticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginHSM">
      <soap12:operation soapAction="http://tempuri.org/CheckLoginHSM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFL_File_SelectFileID">
      <soap12:operation soapAction="http://tempuri.org/GetFL_File_SelectFileID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_FileRelation_Insert">
      <soap12:operation soapAction="http://tempuri.org/FL_FileRelation_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAService">
    <wsdl:port name="CAServiceSoap" binding="tns:CAServiceSoap">
      <soap:address location="http://192.168.0.48:8081/CAService/CAService.asmx" />
    </wsdl:port>
    <wsdl:port name="CAServiceSoap12" binding="tns:CAServiceSoap12">
      <soap12:address location="http://192.168.0.48:8081/CAService/CAService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>