Source code/Demo - Test - Example/WebTestSign/WebTestApplet/Web References/A0SignatureService/CAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ca-nldc.vn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ca-nldc.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ca-nldc.vn/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUnitInCASystem_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnitTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="maDV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUnitInCASystem_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUnitInCASystem_NowResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateFromProgUser_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateFromProgUser_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateFromProgUser_NowResult" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserCerticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCerticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCerticateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInCA_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInCA_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCertificateInCA_NowResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="certificateStatus" type="tns:CertificateStatus_CA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CertificateStatus_CA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusInformation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateCertificateInCA_Date">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="validateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInCA_DateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCertificateInCA_DateResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="certificateStatus" type="tns:CertificateStatus_CA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInTTD_Now">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCertificateInTTD_NowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCertificateInTTD_NowResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="certificateStatus" type="tns:CertificateStatus_TTD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CertificateStatus_TTD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusInformation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAndGetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileMaDV" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAndGetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAndGetFileInfoResult" nillable="true" type="tns:FileInfoCA" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileInfoCA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FileID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaDV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileInfoResult" nillable="true" type="tns:FileInfoCA" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFile_WithHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFile_WithHashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveFile_WithHashResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetFileStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogFileSignature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="certRawData" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="signTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="verify" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSignActions" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogFileSignatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogFileSignatureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFL_File_SelectFileID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TuNgay" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DenNgay" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Ma_NM" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFL_File_SelectFileIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFL_File_SelectFileIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_FileRelation_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FileID_A" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FileID_B" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FileRelationTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_FileRelation_InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_FileRelation_InsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0031_.SignFilesByID_ReturnDetail_NoApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileIDs" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="_x0031_.SignFilesByID_ReturnDetail_NoAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_x0031_.SignFilesByID_ReturnDetail_NoAppResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0032_.SignFilesByID_ReturnDetail_NoApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0032_.SignFilesByID_ReturnDetail_NoAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_x0032_.SignFilesByID_ReturnDetail_NoAppResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0033_.SignFilesByID_SendToClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0033_.SignFilesByID_SendToClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_x0033_.SignFilesByID_SendToClientResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0034_.SignFilesByID_ReceiveFromClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0034_.SignFilesByID_ReceiveFromClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_x0034_.SignFilesByID_ReceiveFromClientResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForAllowSign_Array">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrFileID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtFileInfo">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForAllowSign_ArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_File_SelectForAllowSign_ArrayResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtFileInfo">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForSaveSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_StatusLog" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_SelectForSaveSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_File_SelectForSaveSignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_UpdateForLogSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="certSerial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="signTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="verify" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSignActions" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="backupPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FL_File_UpdateForLogSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FL_File_UpdateForLogSignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginHSM_TestLoginFailed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginHSM_TestLoginFailedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginHSM_TestLoginFailedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUnitInCASystem_NowSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUnitInCASystem_Now" />
  </wsdl:message>
  <wsdl:message name="CheckUnitInCASystem_NowSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUnitInCASystem_NowResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateFromProgUser_NowSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificateFromProgUser_Now" />
  </wsdl:message>
  <wsdl:message name="GetCertificateFromProgUser_NowSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateFromProgUser_NowResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCerticateSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCerticate" />
  </wsdl:message>
  <wsdl:message name="GetUserCerticateSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCerticateResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_NowSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_Now" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_NowSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_NowResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_DateSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_Date" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInCA_DateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInCA_DateResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInTTD_NowSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInTTD_Now" />
  </wsdl:message>
  <wsdl:message name="ValidateCertificateInTTD_NowSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCertificateInTTD_NowResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAndGetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAndGetFileInfo" />
  </wsdl:message>
  <wsdl:message name="CreateAndGetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAndGetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFile_WithHashSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFile_WithHash" />
  </wsdl:message>
  <wsdl:message name="SaveFile_WithHashSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFile_WithHashResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileStatus" />
  </wsdl:message>
  <wsdl:message name="SetFileStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileStatusResponse" />
  </wsdl:message>
  <wsdl:message name="LogFileSignatureSoapIn">
    <wsdl:part name="parameters" element="tns:LogFileSignature" />
  </wsdl:message>
  <wsdl:message name="LogFileSignatureSoapOut">
    <wsdl:part name="parameters" element="tns:LogFileSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="GetFL_File_SelectFileIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFL_File_SelectFileID" />
  </wsdl:message>
  <wsdl:message name="GetFL_File_SelectFileIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFL_File_SelectFileIDResponse" />
  </wsdl:message>
  <wsdl:message name="FL_FileRelation_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:FL_FileRelation_Insert" />
  </wsdl:message>
  <wsdl:message name="FL_FileRelation_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:FL_FileRelation_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="_x0031_.SignFilesByID_ReturnDetail_NoAppSoapIn">
    <wsdl:part name="parameters" element="tns:_x0031_.SignFilesByID_ReturnDetail_NoApp" />
  </wsdl:message>
  <wsdl:message name="_x0031_.SignFilesByID_ReturnDetail_NoAppSoapOut">
    <wsdl:part name="parameters" element="tns:_x0031_.SignFilesByID_ReturnDetail_NoAppResponse" />
  </wsdl:message>
  <wsdl:message name="_x0032_.SignFilesByID_ReturnDetail_NoAppSoapIn">
    <wsdl:part name="parameters" element="tns:_x0032_.SignFilesByID_ReturnDetail_NoApp" />
  </wsdl:message>
  <wsdl:message name="_x0032_.SignFilesByID_ReturnDetail_NoAppSoapOut">
    <wsdl:part name="parameters" element="tns:_x0032_.SignFilesByID_ReturnDetail_NoAppResponse" />
  </wsdl:message>
  <wsdl:message name="_x0033_.SignFilesByID_SendToClientSoapIn">
    <wsdl:part name="parameters" element="tns:_x0033_.SignFilesByID_SendToClient" />
  </wsdl:message>
  <wsdl:message name="_x0033_.SignFilesByID_SendToClientSoapOut">
    <wsdl:part name="parameters" element="tns:_x0033_.SignFilesByID_SendToClientResponse" />
  </wsdl:message>
  <wsdl:message name="_x0034_.SignFilesByID_ReceiveFromClientSoapIn">
    <wsdl:part name="parameters" element="tns:_x0034_.SignFilesByID_ReceiveFromClient" />
  </wsdl:message>
  <wsdl:message name="_x0034_.SignFilesByID_ReceiveFromClientSoapOut">
    <wsdl:part name="parameters" element="tns:_x0034_.SignFilesByID_ReceiveFromClientResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForAllowSign_ArraySoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForAllowSign_Array" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForAllowSign_ArraySoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForAllowSign_ArrayResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForSaveSignSoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForSaveSign" />
  </wsdl:message>
  <wsdl:message name="FL_File_SelectForSaveSignSoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_SelectForSaveSignResponse" />
  </wsdl:message>
  <wsdl:message name="FL_File_UpdateForLogSignSoapIn">
    <wsdl:part name="parameters" element="tns:FL_File_UpdateForLogSign" />
  </wsdl:message>
  <wsdl:message name="FL_File_UpdateForLogSignSoapOut">
    <wsdl:part name="parameters" element="tns:FL_File_UpdateForLogSignResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHSM_TestLoginFailedSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLoginHSM_TestLoginFailed" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHSM_TestLoginFailedSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginHSM_TestLoginFailedResponse" />
  </wsdl:message>
  <wsdl:portType name="CAServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUnitInCASystem_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Kiểm tra xem có cần check CA với đơn vị hay không.</wsdl:documentation>
      <wsdl:input message="tns:CheckUnitInCASystem_NowSoapIn" />
      <wsdl:output message="tns:CheckUnitInCASystem_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFromProgUser_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy danh sách chứng thư hợp lệ của người dùng trong hệ thống. Trả về mảng RawData của các chứng thư.</wsdl:documentation>
      <wsdl:input message="tns:GetCertificateFromProgUser_NowSoapIn" />
      <wsdl:output message="tns:GetCertificateFromProgUser_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCerticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy thông tin chứng thư số của User. Chỉ áp dụng cho user thuộc A0.</wsdl:documentation>
      <wsdl:input message="tns:GetUserCerticateSoapIn" />
      <wsdl:output message="tns:GetUserCerticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xác thực chứng thư với nhà cung cấp CA ở thời điểm hiện tại. Trả về CertificateStatus để convert thành X509ChainStatus</wsdl:documentation>
      <wsdl:input message="tns:ValidateCertificateInCA_NowSoapIn" />
      <wsdl:output message="tns:ValidateCertificateInCA_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Date">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xác thực chứng thư với nhà cung cấp CA ở thời điểm quá khứ. Trả về CertificateStatus để convert thành X509ChainStatus.</wsdl:documentation>
      <wsdl:input message="tns:ValidateCertificateInCA_DateSoapIn" />
      <wsdl:output message="tns:ValidateCertificateInCA_DateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInTTD_Now">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xác thực chứng thư với Thị trường điện ở thời điểm hiện tại</wsdl:documentation>
      <wsdl:input message="tns:ValidateCertificateInTTD_NowSoapIn" />
      <wsdl:output message="tns:ValidateCertificateInTTD_NowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAndGetFileInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Khởi tạo văn bản cùng với đánh số văn bản và tạo đường dẫn văn bản. Ghi log thay đổi trạng thái.</wsdl:documentation>
      <wsdl:input message="tns:CreateAndGetFileInfoSoapIn" />
      <wsdl:output message="tns:CreateAndGetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy thông tin file theo FileID</wsdl:documentation>
      <wsdl:input message="tns:GetFileInfoSoapIn" />
      <wsdl:output message="tns:GetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFile_WithHash">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Thiết lập trạng thái với chuỗi HASH sau khi lưu file và ghi log thay đổi trạng thái.</wsdl:documentation>
      <wsdl:input message="tns:SaveFile_WithHashSoapIn" />
      <wsdl:output message="tns:SaveFile_WithHashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Thiết lập trạng thái cho file và ghi log thay đổi trạng thái.</wsdl:documentation>
      <wsdl:input message="tns:SetFileStatusSoapIn" />
      <wsdl:output message="tns:SetFileStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogFileSignature">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ghi log ký/xóa chữ ký trên file.</wsdl:documentation>
      <wsdl:input message="tns:LogFileSignatureSoapIn" />
      <wsdl:output message="tns:LogFileSignatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFL_File_SelectFileID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lấy file mới nhất từ ngày đến ngày có status là 1, 2 theo Ma_NM.</wsdl:documentation>
      <wsdl:input message="tns:GetFL_File_SelectFileIDSoapIn" />
      <wsdl:output message="tns:GetFL_File_SelectFileIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_FileRelation_Insert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cập nhật văn bản liên quan. Cập nhật trạng thái FileID_B nếu FileRelationTypeID = 1 (VanBanThayThe).</wsdl:documentation>
      <wsdl:input message="tns:FL_FileRelation_InsertSoapIn" />
      <wsdl:output message="tns:FL_FileRelation_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetails6">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file: tuần tự, trực tiếp từ CAService</wsdl:documentation>
      <wsdl:input name="_x0031_.SignFilesByID_ReturnDetail_NoApp" message="tns:_x0031_.SignFilesByID_ReturnDetail_NoAppSoapIn" />
      <wsdl:output name="_x0031_.SignFilesByID_ReturnDetail_NoApp" message="tns:_x0031_.SignFilesByID_ReturnDetail_NoAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetails6">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký nhiều file trong hệ thống quản lý file: tuần tự, trực tiếp từ CAService</wsdl:documentation>
      <wsdl:input name="_x0032_.SignFilesByID_ReturnDetail_NoApp" message="tns:_x0032_.SignFilesByID_ReturnDetail_NoAppSoapIn" />
      <wsdl:output name="_x0032_.SignFilesByID_ReturnDetail_NoApp" message="tns:_x0032_.SignFilesByID_ReturnDetail_NoAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_SendToClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký văn bản qua client: lấy dữ liệu gửi về client.</wsdl:documentation>
      <wsdl:input name="_x0033_.SignFilesByID_SendToClient" message="tns:_x0033_.SignFilesByID_SendToClientSoapIn" />
      <wsdl:output name="_x0033_.SignFilesByID_SendToClient" message="tns:_x0033_.SignFilesByID_SendToClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReceiveFromClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký văn bản qua client: nhận dữ liệu và xác thực.</wsdl:documentation>
      <wsdl:input name="_x0034_.SignFilesByID_ReceiveFromClient" message="tns:_x0034_.SignFilesByID_ReceiveFromClientSoapIn" />
      <wsdl:output name="_x0034_.SignFilesByID_ReceiveFromClient" message="tns:_x0034_.SignFilesByID_ReceiveFromClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign_Array">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 1: Kiểm tra trạng thái nhiều file có cho phép ký hay không và ghi log. Trả về thông tin file và ID_Log phiên ký.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_SelectForAllowSign_ArraySoapIn" />
      <wsdl:output message="tns:FL_File_SelectForAllowSign_ArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForSaveSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 2: Xét phiên log file xem có cho phép lưu file hay không.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_SelectForSaveSignSoapIn" />
      <wsdl:output message="tns:FL_File_SelectForSaveSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FL_File_UpdateForLogSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ký bước 3: Cập nhật log ký/xóa chữ ký và thiết lập trạng thái về LuuFile.</wsdl:documentation>
      <wsdl:input message="tns:FL_File_UpdateForLogSignSoapIn" />
      <wsdl:output message="tns:FL_File_UpdateForLogSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoginHSM_TestLoginFailed">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Kiểm tra có đăng nhập được HSM hay không.</wsdl:documentation>
      <wsdl:input message="tns:CheckLoginHSM_TestLoginFailedSoapIn" />
      <wsdl:output message="tns:CheckLoginHSM_TestLoginFailedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CAServiceSoap" type="tns:CAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://ca-nldc.vn/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUnitInCASystem_Now">
      <soap:operation soapAction="http://ca-nldc.vn/CheckUnitInCASystem_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFromProgUser_Now">
      <soap:operation soapAction="http://ca-nldc.vn/GetCertificateFromProgUser_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCerticate">
      <soap:operation soapAction="http://ca-nldc.vn/GetUserCerticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Now">
      <soap:operation soapAction="http://ca-nldc.vn/ValidateCertificateInCA_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Date">
      <soap:operation soapAction="http://ca-nldc.vn/ValidateCertificateInCA_Date" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInTTD_Now">
      <soap:operation soapAction="http://ca-nldc.vn/ValidateCertificateInTTD_Now" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAndGetFileInfo">
      <soap:operation soapAction="http://ca-nldc.vn/CreateAndGetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://ca-nldc.vn/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile_WithHash">
      <soap:operation soapAction="http://ca-nldc.vn/SaveFile_WithHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus">
      <soap:operation soapAction="http://ca-nldc.vn/SetFileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFileSignature">
      <soap:operation soapAction="http://ca-nldc.vn/LogFileSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFL_File_SelectFileID">
      <soap:operation soapAction="http://ca-nldc.vn/GetFL_File_SelectFileID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_FileRelation_Insert">
      <soap:operation soapAction="http://ca-nldc.vn/FL_FileRelation_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetails6">
      <soap:operation soapAction="http://ca-nldc.vn/1.SignFilesByID_ReturnDetail_NoApp" style="document" />
      <wsdl:input name="_x0031_.SignFilesByID_ReturnDetail_NoApp">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0031_.SignFilesByID_ReturnDetail_NoApp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetails6">
      <soap:operation soapAction="http://ca-nldc.vn/2.SignFilesByID_ReturnDetail_NoApp" style="document" />
      <wsdl:input name="_x0032_.SignFilesByID_ReturnDetail_NoApp">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0032_.SignFilesByID_ReturnDetail_NoApp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_SendToClient">
      <soap:operation soapAction="http://ca-nldc.vn/3.SignFilesByID_SendToClient" style="document" />
      <wsdl:input name="_x0033_.SignFilesByID_SendToClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0033_.SignFilesByID_SendToClient">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReceiveFromClient">
      <soap:operation soapAction="http://ca-nldc.vn/4.SignFilesByID_ReceiveFromClient" style="document" />
      <wsdl:input name="_x0034_.SignFilesByID_ReceiveFromClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0034_.SignFilesByID_ReceiveFromClient">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign_Array">
      <soap:operation soapAction="http://ca-nldc.vn/FL_File_SelectForAllowSign_Array" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForSaveSign">
      <soap:operation soapAction="http://ca-nldc.vn/FL_File_SelectForSaveSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_UpdateForLogSign">
      <soap:operation soapAction="http://ca-nldc.vn/FL_File_UpdateForLogSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginHSM_TestLoginFailed">
      <soap:operation soapAction="http://ca-nldc.vn/CheckLoginHSM_TestLoginFailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CAServiceSoap12" type="tns:CAServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://ca-nldc.vn/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUnitInCASystem_Now">
      <soap12:operation soapAction="http://ca-nldc.vn/CheckUnitInCASystem_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFromProgUser_Now">
      <soap12:operation soapAction="http://ca-nldc.vn/GetCertificateFromProgUser_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCerticate">
      <soap12:operation soapAction="http://ca-nldc.vn/GetUserCerticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Now">
      <soap12:operation soapAction="http://ca-nldc.vn/ValidateCertificateInCA_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInCA_Date">
      <soap12:operation soapAction="http://ca-nldc.vn/ValidateCertificateInCA_Date" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCertificateInTTD_Now">
      <soap12:operation soapAction="http://ca-nldc.vn/ValidateCertificateInTTD_Now" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAndGetFileInfo">
      <soap12:operation soapAction="http://ca-nldc.vn/CreateAndGetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap12:operation soapAction="http://ca-nldc.vn/GetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile_WithHash">
      <soap12:operation soapAction="http://ca-nldc.vn/SaveFile_WithHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileStatus">
      <soap12:operation soapAction="http://ca-nldc.vn/SetFileStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFileSignature">
      <soap12:operation soapAction="http://ca-nldc.vn/LogFileSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFL_File_SelectFileID">
      <soap12:operation soapAction="http://ca-nldc.vn/GetFL_File_SelectFileID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_FileRelation_Insert">
      <soap12:operation soapAction="http://ca-nldc.vn/FL_FileRelation_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetails6">
      <soap12:operation soapAction="http://ca-nldc.vn/1.SignFilesByID_ReturnDetail_NoApp" style="document" />
      <wsdl:input name="_x0031_.SignFilesByID_ReturnDetail_NoApp">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0031_.SignFilesByID_ReturnDetail_NoApp">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReturnDetails6">
      <soap12:operation soapAction="http://ca-nldc.vn/2.SignFilesByID_ReturnDetail_NoApp" style="document" />
      <wsdl:input name="_x0032_.SignFilesByID_ReturnDetail_NoApp">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0032_.SignFilesByID_ReturnDetail_NoApp">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_SendToClient">
      <soap12:operation soapAction="http://ca-nldc.vn/3.SignFilesByID_SendToClient" style="document" />
      <wsdl:input name="_x0033_.SignFilesByID_SendToClient">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0033_.SignFilesByID_SendToClient">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignFilesByID_ReceiveFromClient">
      <soap12:operation soapAction="http://ca-nldc.vn/4.SignFilesByID_ReceiveFromClient" style="document" />
      <wsdl:input name="_x0034_.SignFilesByID_ReceiveFromClient">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0034_.SignFilesByID_ReceiveFromClient">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForAllowSign_Array">
      <soap12:operation soapAction="http://ca-nldc.vn/FL_File_SelectForAllowSign_Array" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_SelectForSaveSign">
      <soap12:operation soapAction="http://ca-nldc.vn/FL_File_SelectForSaveSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FL_File_UpdateForLogSign">
      <soap12:operation soapAction="http://ca-nldc.vn/FL_File_UpdateForLogSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginHSM_TestLoginFailed">
      <soap12:operation soapAction="http://ca-nldc.vn/CheckLoginHSM_TestLoginFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAService">
    <wsdl:port name="CAServiceSoap" binding="tns:CAServiceSoap">
      <soap:address location="http://192.168.0.48:8081/CAService/CAService.asmx" />
    </wsdl:port>
    <wsdl:port name="CAServiceSoap12" binding="tns:CAServiceSoap12">
      <soap12:address location="http://192.168.0.48:8081/CAService/CAService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>